/*
 * Copyright (c) 2016 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "rk3399-tinker_board_2.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "ASUS Tinker Board 2/2S";
	compatible = "rockchip,rk3399-tinker_board_2", "rockchip,rk3399";

	vcc_lcd: vcc-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_lcd";
		gpio = <&gpio4 30 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <20000>;
		enable-active-high;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		vin-supply = <&vcc5v0_sys>;
	};

	panel: panel {
		compatible = "simple-panel";
		status = "disabled";
		backlight = <&backlight>;
		power-supply = <&vcc_lcd>;
		enable-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		prepare-delay-ms = <20>;
		enable-delay-ms = <20>;

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <200000000>;
				hactive = <1536>;
				vactive = <2048>;
				hfront-porch = <12>;
				hsync-len = <16>;
				hback-porch = <48>;
				vfront-porch = <8>;
				vsync-len = <4>;
				vback-porch = <8>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			panel_in: endpoint {
				remote-endpoint = <&edp_out>;
			};
		};
	};

	hdmi_sound: hdmi-sound {
		status = "okay";
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;

		pinctrl-names = "default";
		pinctrl-0 = <&pwrbtn>;

		button@0 {
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			label = "GPIO Key Power";
			linux,input-type = <1>;
			gpio-key,wakeup = <1>;
			debounce-interval = <100>;
		};
	};

	vccadc_ref: vccadc-ref {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	ext_cam_clk: external-camera-clock {
		compatible = "fixed-clock";
		clock-frequency = <27000000>;
		clock-output-names = "CLK_CAMERA_27MHZ";
		#clock-cells = <0>;
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		poll-interval = <100>;
		keyup-threshold-microvolt = <1800000>;

		button-up {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <100000>;
		};

		button-down {
			label = "Volume Down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <300000>;
		};

		back {
			label = "Back";
			linux,code = <KEY_BACK>;
			press-threshold-microvolt = <985000>;
		};

		menu {
			label = "Menu";
			linux,code = <KEY_MENU>;
			press-threshold-microvolt = <1314000>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		pwr-led {
			gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			retain-state-suspended = <1>;
		};

		act-led {
			gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>;
			linux,default-trigger="mmc1";
		};

		rsv-led {
			gpios = <&gpio0 RK_PB2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger="none";
		};
	};

	board_info: board-info {
		compatible = "board-info";

		hw-id0 = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
		hw-id1 = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
		hw-id2 = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;

		pid-id0 = <&gpio2 RK_PA5 GPIO_ACTIVE_HIGH>;
		pid-id1 = <&gpio2 RK_PA3 GPIO_ACTIVE_HIGH>;
		pid-id2 = <&gpio2 RK_PA2 GPIO_ACTIVE_HIGH>;

		ddr-id1 = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
		ddr-id2 = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;

		pmic-reset = <&gpio1 RK_PA6 GPIO_ACTIVE_HIGH>;
	};
};

&rkisp1_0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_mipi_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dphy_rx0_out>;
		};
	};
};

&mipi_dphy_rx0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx219_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy_rx0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp0_mipi_in>;
			};
		};
	};
};

&isp0_mmu {
	status = "okay";
};

&rkisp1_1 {
	status = "disabled";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp1_mipi_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dphy_tx1rx1_out>;
		};
	};
};

&mipi_dphy_tx1rx1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam1: endpoint@1 {
				reg = <1>;
				/* Unlinked camera */
				//remote-endpoint = <&ucam_out1>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy_tx1rx1_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp1_mipi_in>;
			};
		};
	};
};

&isp1_mmu {
	status = "disabled";
};

&saradc {
	vref-supply = <&vccadc_ref>;
};

&backlight {
	status = "disabled";
	enable-gpios = <&gpio4 29 GPIO_ACTIVE_HIGH>;
};

&cdn_dp {
	status = "okay";
	extcon = <&fusb0>;
	phys = <&tcphy0_dp>;
};

&display_subsystem {
	status = "okay";
};

&route_edp {
	status = "disabled";
};

&route_hdmi {
	status = "okay";
	connect = <&vopb_out_hdmi>;
};

&dsi {
	status = "okay";
	panel@0 {
		compatible ="simple-panel-dsi";
		reg = <0>;

		rpi-init-sequence = [
				29 00 06 10 02 03 00 00 00
				29 00 06 64 01 0C 00 00 00
				29 00 06 68 01 0C 00 00 00
				29 00 06 44 01 00 00 00 00
				29 00 06 48 01 00 00 00 00
				29 00 06 14 01 15 00 00 00
				29 00 06 50 04 60 00 00 00
				29 00 06 20 04 52 01 10 00
				29 00 06 24 04 14 00 1A 00
				29 00 06 28 04 20 03 69 00
				29 00 06 2C 04 02 00 15 00
				29 00 06 30 04 E0 01 07 00
				29 00 06 34 04 01 00 00 00
				29 00 06 64 04 0F 04 00 00
				29 00 06 04 01 01 00 00 00
				29 00 06 04 02 01 00 00 00
		];
		powertip-exit-sequence = [
			05 14 01 28
			05 78 01 10
		];
		powertip-rev-a-init-sequence = [
			39 00 04 ff 98 81 03
			15 00 02 03 55
			15 00 02 04 13
			15 00 02 06 06
			15 00 02 07 01
			15 00 02 09 01
			15 00 02 0a 01
			15 00 02 0f 18
			15 00 02 10 18
			15 00 02 1e 44
			15 00 02 1f 80
			15 00 02 20 02
			15 00 02 21 03
			15 00 02 28 33
			15 00 02 29 03
			15 00 02 34 04
			15 00 02 38 01
			15 00 02 50 01
			15 00 02 51 23
			15 00 02 52 45
			15 00 02 53 67
			15 00 02 54 89
			15 00 02 55 ab
			15 00 02 56 01
			15 00 02 57 23
			15 00 02 58 45
			15 00 02 59 67
			15 00 02 5a 89
			15 00 02 5b ab
			15 00 02 5c cd
			15 00 02 5d ef
			15 00 02 5e 11
			15 00 02 5f 14
			15 00 02 60 15
			15 00 02 61 0f
			15 00 02 62 0d
			15 00 02 63 0e
			15 00 02 64 0c
			15 00 02 65 06
			15 00 02 66 02
			15 00 02 67 02
			15 00 02 68 02
			15 00 02 69 02
			15 00 02 6a 02
			15 00 02 6b 02
			15 00 02 6c 02
			15 00 02 6d 02
			15 00 02 6e 02
			15 00 02 6f 02
			15 00 02 70 02
			15 00 02 72 01
			15 00 02 73 08
			15 00 02 74 02
			15 00 02 75 14
			15 00 02 76 15
			15 00 02 77 0f
			15 00 02 78 0d
			15 00 02 79 0e
			15 00 02 7a 0c
			15 00 02 7b 08
			15 00 02 7c 02
			15 00 02 7d 02
			15 00 02 7e 02
			15 00 02 7f 02
			15 00 02 80 02
			15 00 02 81 02
			15 00 02 82 02
			15 00 02 83 02
			15 00 02 84 02
			15 00 02 85 02
			15 00 02 86 02
			15 00 02 88 01
			15 00 02 89 06
			15 00 02 8a 02
			39 00 04 ff 98 81 04
			15 00 02 6c 15
			15 00 02 6e 2a
			15 00 02 6f 33
			15 00 02 3a 24
			15 00 02 8d 14
			15 00 02 87 ba
			15 00 02 26 76
			15 00 02 b2 d1
			15 00 02 b5 d7
			15 00 02 35 1f
			39 00 04 ff 98 81 01
			15 00 02 22 0a
			15 00 02 53 72
			15 00 02 55 77
			15 00 02 50 a6
			15 00 02 51 a6
			15 00 02 60 30
			15 00 02 a0 08
			15 00 02 a1 1a
			15 00 02 a2 2a
			15 00 02 a3 14
			15 00 02 a4 17
			15 00 02 a5 2b
			15 00 02 a6 1d
			15 00 02 a7 20
			15 00 02 a8 9d
			15 00 02 a9 1c
			15 00 02 aa 29
			15 00 02 ab 8f
			15 00 02 ac 20
			15 00 02 ad 1f
			15 00 02 ae 4f
			15 00 02 af 23
			15 00 02 b0 29
			15 00 02 b1 56
			15 00 02 b2 66
			15 00 02 b3 39
			15 00 02 c0 08
			15 00 02 c1 1a
			15 00 02 c2 2a
			15 00 02 c3 15
			15 00 02 c4 17
			15 00 02 c5 2b
			15 00 02 c6 1d
			15 00 02 c7 20
			15 00 02 c8 9d
			15 00 02 c9 1d
			15 00 02 ca 29
			15 00 02 cb 8f
			15 00 02 cc 20
			15 00 02 cd 1f
			15 00 02 ce 4f
			15 00 02 cf 24
			15 00 02 d0 29
			15 00 02 d1 56
			15 00 02 d2 66
			15 00 02 d3 39
			39 00 04 ff 98 81 00
			15 00 02 35 00
			05 78 01 11
			05 78 01 29
		];
		powertip-rev-b-init-sequence = [
			39 00 04 FF 98 81 03
			15 00 02 01 00
			15 00 02 02 00
			15 00 02 03 73
			15 00 02 04 00
			15 00 02 05 00
			15 00 02 06 0A
			15 00 02 07 00
			15 00 02 08 00
			15 00 02 09 61
			15 00 02 0A 00
			15 00 02 0B 00
			15 00 02 0C 01
			15 00 02 0D 00
			15 00 02 0E 00
			15 00 02 0F 61
			15 00 02 10 61
			15 00 02 11 00
			15 00 02 12 00
			15 00 02 13 00
			15 00 02 14 00
			15 00 02 15 00
			15 00 02 16 00
			15 00 02 17 00
			15 00 02 18 00
			15 00 02 19 00
			15 00 02 1A 00
			15 00 02 1B 00
			15 00 02 1C 00
			15 00 02 1D 00
			15 00 02 1E 40
			15 00 02 1F 80
			15 00 02 20 06
			15 00 02 21 01
			15 00 02 22 00
			15 00 02 23 00
			15 00 02 24 00
			15 00 02 25 00
			15 00 02 26 00
			15 00 02 27 00
			15 00 02 28 33
			15 00 02 29 03
			15 00 02 2A 00
			15 00 02 2B 00
			15 00 02 2C 00
			15 00 02 2D 00
			15 00 02 2E 00
			15 00 02 2F 00
			15 00 02 30 00
			15 00 02 31 00
			15 00 02 32 00
			15 00 02 33 00
			15 00 02 34 04
			15 00 02 35 00
			15 00 02 36 00
			15 00 02 37 00
			15 00 02 38 3C
			15 00 02 39 00
			15 00 02 3A 00
			15 00 02 3B 00
			15 00 02 3C 00
			15 00 02 3D 00
			15 00 02 3E 00
			15 00 02 3F 00
			15 00 02 40 00
			15 00 02 41 00
			15 00 02 42 00
			15 00 02 43 00
			15 00 02 44 00
			15 00 02 50 10
			15 00 02 51 32
			15 00 02 52 54
			15 00 02 53 76
			15 00 02 54 98
			15 00 02 55 BA
			15 00 02 56 10
			15 00 02 57 32
			15 00 02 58 54
			15 00 02 59 76
			15 00 02 5A 98
			15 00 02 5B BA
			15 00 02 5C DC
			15 00 02 5D FE
			15 00 02 5E 00
			15 00 02 5F 0E
			15 00 02 60 0F
			15 00 02 61 0C
			15 00 02 62 0D
			15 00 02 63 06
			15 00 02 64 07
			15 00 02 65 02
			15 00 02 66 02
			15 00 02 67 02
			15 00 02 68 02
			15 00 02 69 01
			15 00 02 6A 00
			15 00 02 6B 02
			15 00 02 6C 15
			15 00 02 6D 14
			15 00 02 6E 02
			15 00 02 6F 02
			15 00 02 70 02
			15 00 02 71 02
			15 00 02 72 02
			15 00 02 73 02
			15 00 02 74 02
			15 00 02 75 0E
			15 00 02 76 0F
			15 00 02 77 0C
			15 00 02 78 0D
			15 00 02 79 06
			15 00 02 7A 07
			15 00 02 7B 02
			15 00 02 7C 02
			15 00 02 7D 02
			15 00 02 7E 02
			15 00 02 7F 01
			15 00 02 80 00
			15 00 02 81 02
			15 00 02 82 14
			15 00 02 83 15
			15 00 02 84 02
			15 00 02 85 02
			15 00 02 86 02
			15 00 02 87 02
			15 00 02 88 02
			15 00 02 89 02
			15 00 02 8A 02
			39 00 04 FF 98 81 04
			15 00 02 6C 15
			15 00 02 6E 2A
			15 00 02 6F 33
			15 00 02 3B 98
			15 00 02 3A 94
			15 00 02 8D 14
			15 00 02 87 BA
			15 00 02 26 76
			15 00 02 B2 D1
			15 00 02 B5 06
			15 00 02 38 01
			15 00 02 39 00
			39 00 04 FF 98 81 01
			15 00 02 22 0A
			15 00 02 31 00
			15 00 02 53 7D
			15 00 02 55 8F
			15 00 02 40 33
			15 00 02 50 96
			15 00 02 51 96
			15 00 02 60 23
			15 00 02 A0 08
			15 00 02 A1 1D
			15 00 02 A2 2A
			15 00 02 A3 10
			15 00 02 A4 15
			15 00 02 A5 28
			15 00 02 A6 1C
			15 00 02 A7 1D
			15 00 02 A8 7E
			15 00 02 A9 1D
			15 00 02 AA 29
			15 00 02 AB 6B
			15 00 02 AC 1A
			15 00 02 AD 18
			15 00 02 AE 4B
			15 00 02 AF 20
			15 00 02 B0 27
			15 00 02 B1 50
			15 00 02 B2 64
			15 00 02 B3 39
			15 00 02 C0 08
			15 00 02 C1 1D
			15 00 02 C2 2A
			15 00 02 C3 10
			15 00 02 C4 15
			15 00 02 C5 28
			15 00 02 C6 1C
			15 00 02 C7 1D
			15 00 02 C8 7E
			15 00 02 C9 1D
			15 00 02 CA 29
			15 00 02 CB 6B
			15 00 02 CC 1A
			15 00 02 CD 18
			15 00 02 CE 4B
			15 00 02 CF 20
			15 00 02 D0 27
			15 00 02 D1 50
			15 00 02 D2 64
			15 00 02 D3 39
			39 00 04 ff 98 81 00
			15 00 02 35 00
			05 78 01 11
			05 78 01 29
		];

		rpi-display-timings {
			native-mode = <&timing2>;

			timing2: timing2 {
				clock-frequency = <26101800>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <2>;
				hsync-len = <2>;
				hback-porch = <52>;
				vfront-porch = <7>;
				vsync-len = <2>;
				vback-porch = <21>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		powertip-display-timings {
			native-mode = <&timing1>;

			timing1: timing1 {
				clock-frequency = <66800000>;
				hactive = <720>;
				vactive = <1280>;
				hfront-porch = <8>;
				hsync-len = <55>;
				hback-porch = <55>;
				vfront-porch = <8>;
				vsync-len = <20>;
				vback-porch = <20>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

&edp {
	status = "disabled";
	force-hpd;

	ports {
		port@1 {
			reg = <1>;

			edp_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&dsi_in_vopl {
	status = "okay";
};

&dsi_in_vopb {
	status = "disabled";
};

&dsi1 {
	status = "disabled";
};

&dsi1_in_vopl {
	status = "disabled";
};

&dsi1_in_vopb {
	status = "disabled";
};

&edp {
	status = "disabled";
};

&edp_in_vopb {
	status = "disabled";
};

&edp_in_vopl {
	status = "disabled";
};

&dp_in_vopb {
	status = "disabled";
};

&hdmi {
	pinctrl-0 = <&hdmi_i2c_xfer>, <&hdmi_cec>;
	#sound-dai-cells = <0>;
	rockchip,phy-table =
		<74250000  0x8009 0x0004 0x0272>,
		<165000000 0x802b 0x0004 0x0209>,
		<297000000 0x8039 0x0005 0x028d>,
		<594000000 0x8039 0x0000 0x00f6>,
		<000000000 0x0000 0x0000 0x0000>;
	status = "okay";
};

&hdmi_in_vopl {
	status = "disabled";
};

&i2c1 {
	status = "okay";

	imx219: imx219@10 {
		compatible = "sony,imx219";
		status = "okay";
		reg = <0x10>;
		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "xvclk";
		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&cif_clkout>;

		enable-gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RPi_v21";
		rockchip,camera-module-lens-name = "default";

		port {
			imx219_out: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
			};
		};
	};

	ov5647: ov5647@36 {
		compatible = "ovti,ov5647";
		status = "disabled";
		reg = <0x36>;
		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "xvclk";

		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&cif_clkout>;

		enable-gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RPi_v13";
		rockchip,camera-module-lens-name = "default";

		port {
			ov5647_out: endpoint {
			};
		};
	};
};

&i2c4 {
	status = "okay";
};

&i2c6 {
	status = "disabled";
};

&i2c7 {
	status = "disabled";
};

&pcie_phy {
	status = "okay";
};

&pcie0 {
	status = "okay";
};

&vopb {
	status = "okay";
	assigned-clocks = <&cru DCLK_VOP0_DIV>;
	assigned-clock-parents = <&cru PLL_VPLL>;
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	status = "okay";
	assigned-clocks = <&cru DCLK_VOP1_DIV>;
	assigned-clock-parents = <&cru PLL_CPLL>;
};

&vopl_mmu {
	status = "okay";
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio_init &test_clkout2>;

	gpio_init_config {
		gpio_init: gpio_init {
			rockchip,pins =
				<1 7 0 &pcfg_pull_none>,
				<1 8 0 &pcfg_pull_none>,
				<1 9 0 &pcfg_pull_none>,
				<1 10 0 &pcfg_pull_none>,
				<2 19 0 &pcfg_pull_none>;
		};
	};

	buttons {
		pwrbtn: pwrbtn {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	lcd-panel {
		lcd_panel_reset: lcd-panel-reset {
			rockchip,pins = <4 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&sdmmc {
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	supports-emmc;
};

&spi1 {
	status = "disable";
	max-freq = <48000000>; /* spi internal clk, don't modify */
	spi_dev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <48000000>;
		spi-lsb-first;
	};
};

&spi5 {
	status = "disable";
	max-freq = <48000000>;   //spi internal clk, don't modify
	spi_dev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;   //chip select  0:cs0  1:cs1
		id = <0>;
		spi-max-frequency = <48000000>;   //spi output clock
	};
};
