/*
 * Copyright (c) 2019 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "rk3399-excavator-sapphire.dtsi"
#include "rk3399-linux.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Rockchip RK3399 Excavator Board (Linux Opensource)";
	compatible = "rockchip,rk3399-excavator-linux", "rockchip,rk3399";

	vcc_lcd: vcc-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_lcd";
		gpio = <&gpio4 30 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <20000>;
		enable-active-high;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vccadc_ref: vccadc-ref {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		poll-interval = <100>;
		keyup-threshold-microvolt = <1800000>;

		esc-key {
			linux,code = <KEY_ESC>;
			label = "esc";
			press-threshold-microvolt = <1310000>;
		};

		menu-key {
			linux,code = <KEY_MENU>;
			label = "menu";
			press-threshold-microvolt = <987000>;
		};

		vol-down-key {
			linux,code = <KEY_VOLUMEDOWN>;
			label = "volume down";
			press-threshold-microvolt = <300000>;
		};

		vol-up-key {
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <17000>;
		};
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;

		pinctrl-names = "default";
		pinctrl-0 = <&pwrbtn>;

		button@0 {
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			label = "GPIO Key Power";
			linux,input-type = <1>;
			gpio-key,wakeup = <1>;
			debounce-interval = <100>;
		};
	};

	ext_cam_clk: external-camera-clock {
		compatible = "fixed-clock";
		clock-frequency = <27000000>;
		clock-output-names = "CLK_CAMERA_27MHZ";
		#clock-cells = <0>;
	};

	/delete-node/ rt5651-sound;
	rt5651_sound: rt5651-sound {
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "realtek,rt5651-codec";
		rockchip,codec-hp-det;
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s0>;
		rockchip,codec = <&rt5651>;
		status = "okay";
	};

	test_power: test-power {
		status = "okay";
	};

	gpio-leds {
		compatible = "gpio-leds";

		pwr-led {
			gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			retain-state-suspended = <1>;
		};

		act-led {
			gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>;
			linux,default-trigger="mmc0";
		};

		rsv-led {
			gpios = <&gpio0 RK_PB2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger="none";
		};
	};

	board_info: board-info {
		compatible = "board-info";

		hw-id0 = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
		hw-id1 = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
		hw-id2 = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;

		pid-id0 = <&gpio2 RK_PA5 GPIO_ACTIVE_HIGH>;
		pid-id1 = <&gpio2 RK_PA3 GPIO_ACTIVE_HIGH>;
		pid-id2 = <&gpio2 RK_PA2 GPIO_ACTIVE_HIGH>;

		ddr-id1 = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
		ddr-id2 = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;

		pmic-reset = <&gpio1 RK_PA6 GPIO_ACTIVE_HIGH>;
	};
};


&pinctrl {
        pinctrl-names = "default";
        pinctrl-0 = <&gpio_init &test_clkout2>;

        gpio_init_config {
                gpio_init: gpio_init {
			rockchip,pins =
				<1 7 0 &pcfg_pull_none>,
				<1 8 0 &pcfg_pull_none>,
				<1 9 0 &pcfg_pull_none>,
				<1 10 0 &pcfg_pull_none>,
				<2 19 0 &pcfg_pull_none>;
                };
        };

        testclk {
                test_clkout2: test-clkout2 {
			rockchip,pins =
				<0 8 RK_FUNC_3 &pcfg_pull_none>;
                };
        };
};

&backlight {
	status = "okay";
	enable-gpios = <&gpio4 29 GPIO_ACTIVE_HIGH>;
};

&display_subsystem {
	status = "okay";
};

&dsi {
	status = "okay";
	mipi_panel: mipi-panel {
		compatible ="asus-dsi-panel";
		reg = <0>;
		status = "okay";
	};
};

&dsi_in_vopb {
	status = "disabled";
};

&edp {
	status = "disabled";
};

&edp_in_vopb {
	status = "disabled";
};

&edp_in_vopl {
	status = "disabled";
};

&dp_in_vopb {
	status = "disabled";
};

&hdmi {
	status = "okay";
	pinctrl-0 = <&hdmi_i2c_xfer>, <&hdmi_cec>;
	#sound-dai-cells = <0>;
	rockchip,phy-table =
		<74250000  0x8009 0x0004 0x0272>,
		<165000000 0x802b 0x0004 0x0209>,
		<297000000 0x8039 0x0005 0x028d>,
		<594000000 0x8039 0x0000 0x00f6>,
		<000000000 0x0000 0x0000 0x0000>;
};

&hdmi_in_vopl {
	status = "disabled";
};

&route_hdmi {
	status = "okay";
	connect = <&vopb_out_hdmi>;
};

&fusb0 {
	vbus-5v-gpios = <&gpio1 RK_PA3 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&i2c1 {
	status = "okay";

	gsl3673: gsl3673@40 {
		compatible = "GSL,GSL3673";
		reg = <0x40>;
		screen_max_x = <1536>;
		screen_max_y = <2048>;
		irq_gpio_number = <&gpio1 20 IRQ_TYPE_LEVEL_LOW>;
		rst_gpio_number = <&gpio4 22 GPIO_ACTIVE_HIGH>;
	};

	imx219: imx219@10 {
		compatible = "sony,imx219";
		status = "okay";
		reg = <0x10>;
		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "xvclk";
		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&cif_clkout>;

		enable-gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RPi_v21";
		rockchip,camera-module-lens-name = "default";

		port {
			imx219_out: endpoint {
				remote-endpoint = <&mipi_in_ucam0>;
				data-lanes = <1 2>;
			};
		};
	};

	ov5647: ov5647@36 {
		compatible = "ovti,ov5647";
		status = "disabled";
		reg = <0x36>;
		clocks = <&cru SCLK_CIF_OUT>;
		clock-names = "xvclk";

		pinctrl-names = "rockchip,camera_default";
		pinctrl-0 = <&cif_clkout>;

		enable-gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RPi_v13";
		rockchip,camera-module-lens-name = "default";

		port {
			ov5647_out: endpoint {
			};
		};
	};
};

&i2c4 {
	status = "okay";
	clock-frequency = <400000>;
};

&i2c2 {
	status = "okay";
	i2c-scl-rising-time-ns = <345>;
	i2c-scl-falling-time-ns = <11>;
};

&i2c6 {
	status = "disable";
};

&i2c7 {
	status = "disable";
};

&i2c8 {
	status = "okay";
	m24c08@50 {
		compatible = "at,24c08";
		reg = <0x50>;
	};

	tinker_mcu: tinker_mcu@45 {
		compatible = "tinker_mcu";
		reg = <0x45>;
	};

	tinker_mcu_ili9881c: tinker_mcu_ili9881c@36 {
		compatible = "tinker_mcu_ili9881c";
		reg = <0x36>;
	};

	tinker_ft5406: tinker_ft5406@38 {
		compatible = "tinker_ft5406";
		reg = <0x38>;
	};
};

&spi1 {
	status = "disable";
	max-freq = <48000000>; /* spi internal clk, don't modify */
	spi_dev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <48000000>;
		spi-lsb-first;
	};
};

&spi5 {
	status = "disable";
	max-freq = <48000000>;   //spi internal clk, don't modify
	spi_dev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;   //chip select  0:cs0  1:cs1
		id = <0>;
		spi-max-frequency = <48000000>;   //spi output clock
	};
};

&uart0 {
	status = "disable";
};

&uart4 {
	status = "disable";
};

&pwm1 {
        status = "disable";
};

&pwm3 {
        status = "disable";
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&isp0_mmu {
	status = "okay";
};

&isp1_mmu {
	status = "disabled";
};

&mipi_dphy_rx0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx219_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy_rx0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp0_mipi_in>;
			};
		};
	};
};

&mipi_dphy_tx1rx1 {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam1: endpoint@1 {
				reg = <1>;
				/* Unlinked camera */
				//remote-endpoint = <&ucam_out1>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy_tx1rx1_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp1_mipi_in>;
			};
		};
	};
};

&pcie_phy {
	status = "okay";
};

&pcie0 {
	status = "okay";
};

&rkisp1_0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_mipi_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dphy_rx0_out>;
		};
	};
};

&rkisp1_1 {
	status = "disabled";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp1_mipi_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dphy_tx1rx1_out>;
		};
	};
};

&route_edp {
	status = "disabled";
};

&saradc {
	vref-supply = <&vccadc_ref>;
};

&sdmmc {
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	supports-emmc;
};

&vopb {
	assigned-clocks = <&cru DCLK_VOP0_DIV>;
	assigned-clock-parents = <&cru PLL_VPLL>;
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	assigned-clocks = <&cru DCLK_VOP1_DIV>;
	assigned-clock-parents = <&cru PLL_CPLL>;
	status = "okay";
};

&vopl_mmu {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,wakeup-config = <
		(0
		| RKPM_GPIO_WKUP_EN
		| RKPM_PWM_WKUP_EN
		| RKPM_USB_WKUP_EN
		| RKPM_USB_LINESTATE_WKUP_EN
		)
	>;
};

&pinctrl {
	buttons {
		pwrbtn: pwrbtn {
			rockchip,pins = <0 5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&fiq_debugger {
	rockchip,baudrate = <115200>;
};

/* DON'T PUT ANYTHING BELOW HERE.  PUT IT ABOVE PINCTRL */
/* DON'T PUT ANYTHING BELOW HERE.  PUT IT ABOVE PINCTRL */
/* DON'T PUT ANYTHING BELOW HERE.  PUT IT ABOVE PINCTRL */
